a {
  width: 85%;
  display: block;
  text-decoration: none;
}

.main-container {
  width: 100%;
  padding: 1.5rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.name {
  margin: 0;
  font-family: var(--font-two);
  font-weight: 700;
  font-size: clamp(13px, 4.2, 16px);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
