.navbar {
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid var(--border);
}

.logo-title {
  margin: 0 0.5rem;
  color: var(--white);
  font-family: var(--font-one);
  font-size: clamp(22px, 7.8vw, 28.5px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 52px;
}

@media only screen and (min-width: 768px) and (min-height: 500px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-title {
    margin-top: 1rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-title {
    width: 20%;
  }
  .logo-title {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .navbar {
    padding: 0 1rem 0.3rem;
  }

  .main-title {
    width: 10%;
  }
}
