.planet {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.statistics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .planet-container {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 1fr 1fr 1.1fr;
    grid-template-areas:
      "photo photo photo photo"
      "photo photo photo photo"
      "info info select select";
  }
  .desktop-photo {
    grid-area: photo;
  }

  .desktop-info {
    grid-area: info;
  }

  .desktop-select {
    grid-area: select;
  }

  .statistics-container {
    width: 90%;
    margin: 2rem auto 0;
    flex-direction: row;
    gap: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .planet-container {
    box-sizing: border-box;
    margin-top: 4rem;
    padding: 0 5rem;
    grid-template-columns: 0.5fr 0.5fr 0.6fr;
    grid-template-areas:
      "photo photo info"
      "photo photo info"
      "photo photo select";
  }

  .statistics-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8rem;
    margin: 3rem auto 2.5rem;
    flex-direction: row;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .planet {
    margin: 5rem 0;
  }

  .planet-container {
    padding: 0 10rem;
    margin-top: 0;
  }

  .statistics-container {
    margin: 5.5rem auto 2.5rem;
    padding: 0 13rem;
    gap: 3rem;
  }
}
